@charset "UTF-8";
.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99998;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalmask:target {
  opacity: 1;
  pointer-events: auto; }

.modalbox {
  position: relative;
  max-width: 800px;
  border: solid black;
  padding: 3px;
  background: rgba(97, 26, 38, 0.8);
  transition: all 500ms ease-in;
  z-index: 99999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.resize {
  margin: 6% auto;
  width: 0;
  height: 0; }

.modalmask:target .resize {
  width: 100%;
  height: auto; }

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px; }

.close:hover {
  background: #FAAC58;
  color: #222; }

.strokeM {
  text-align: center;
  color: pink;
  font-family: georgia;
  font-size: 38px;
  letter-spacing: 1px;
  text-shadow: -2px -2px 0px #cc0000, 2px -2px 0px #cc0000, -2px 2px 0px #cc0000, 2px 2px 0px #cc0000; }

.descriptionM {
  font: 16px monospace, sans-serif;
  clear: left;
  text-indent: 20px;
  text-align: justify;
  line-height: 1.25;
  background-color: black;
  overflow: hidden;
  color: #00FF00;
  padding: 5px; }

.labelM {
  font: 17px monospace, sans-serif;
  text-indent: 20px;
  line-height: 1.25;
  background-color: black;
  color: #00FF00;
  padding: 5px;
  width: 70%;
  display: inline;
  float: left;
  margin: 0px 0px 15px 0px; }

.rowM {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%; }

.btnDeploy {
  text-decoration: none;
  padding: 0px;
  font-family: arial;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  font-size: 25px;
  color: black;
  background-color: #9b0e0e;
  margin: auto;
  display: block;
  text-align: center;
  margin: 15px 0px 5px 0px;
  border-radius: 999px; }

.btnDeploy:hover, .gitIcon:hover {
  color: #9b0e0e;
  background-color: #bc6355;
  text-decoration: none; }

.gitIcon {
  margin-right: 15px;
  float: Right;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7), inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 33px;
  /* Ancho del botÔö£Ôöén */
  border: 1px solid #9b9bff;
  /* Borde */
  background: white;
  /* Fondo */
  text-align: center;
  /* AlineaciÔö£Ôöén del texto */
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  /* Sombra del texto */
  border-radius: 5px;
  /* Bordes redondos */
  color: black;
  /* Color del texto */ }

.gitIcon:active, .btnDeploy:active {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  /* text-shadow */
  background: #e2e2e2;
  /* background color more dark than original */
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.3), inset -3px -3px 3px rgba(255, 255, 255, 0.2); }

#specialMessage {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  font-size: 15px;
  display: none;
  position: fixed;
  z-index: 99999; }

@media screen and (max-device-width: 600px) {
  #specialMessage {
    display: block; } }

/*# sourceMappingURL=modal.css.map */
