#arrow-right {
  position: absolute;
  top: 45%;
  right:-125%;
  color: grey;
}

#arrow-left {
  position: absolute;
  top: 45%;
  left: -125%;
  color: grey;
}

#bttnIntro {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  text-transform: uppercase;
  //min-width: 130px;
  width: $bttnIntroWidth;
    .border {
      transform: skewX(-20deg);
      //min-height: 130px;
      height: $bttnIntroHeight;
      border-radius: 47% 0.5% 47% 0.5%;
      overflow: hidden;
      position: relative;
      transition: .10s ease-out;
        .left-plane, .right-plane {
          position: absolute;
          background: white;
          width: $bttnIntroWidth/2;
          height: $bttnIntroHeight;
          transition: .25s ease-out;
        }
        .left-plane {
          left: 0px;
          transform: translateX(-1%);
          transition: .25s ease-out;
        }
        .right-plane {
          right: 0px;
          transform: translateX(1%);
          transition: .25s ease-out;
        }
    }
    .text {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      transition: .15s ease-out;
      display: none;
    }
}

#bttnIntro:hover {
    .border {
      box-shadow: 0px 0px 30px 0px red;
        .left-plane {
          transform: translateX(-90%);
          box-shadow: 0px 0px 50px 0px white;
        }
        .right-plane {
          transform: translateX(90%);
          box-shadow: 0px 0px 50px 0px white;
        }
    }
    .text {
      color: white;
      display: inline-block;
      text-shadow: 0 0 5px white, 0 0 5px red;
      font-size: 1.8rem;
    }
}

.bttnFalse {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  text-transform: uppercase;
  //min-width: 130px;
  width: $bttnFalseWidth;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
    .border {
      transform: skewX(-20deg);
      //min-height: 130px;
      height: $bttnFalseHeight;
      border-radius: 0.5% 0.5% 0.5% 0.5%;
      overflow: hidden;
      position: relative;
      transition: .10s ease-out;
        .left-plane, .right-plane {
          position: absolute;
          background: white;
          width: $bttnFalseWidth/2;
          height: $bttnFalseHeight;
          transition: .25s ease-out;
        }
        .left-plane {
          left: 0px;
          transform: translateX(-1%);
          transition: .25s ease-out;
        }
        .right-plane {
          right: 0px;
          transform: translateX(1%);
          transition: .25s ease-out;
        }
    }
    .text {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      transition: .15s ease-out;
      display: none;
    }
}

.bttnFalse:hover {
    .border {
      box-shadow: 0px 0px 30px 0px red;
        .left-plane {
          transform: translateX(-90%);
          box-shadow: 0px 0px 50px 0px white;
        }
        .right-plane {
          transform: translateX(90%);
          box-shadow: 0px 0px 50px 0px white;
        }
    }
    .text {
      color: white;
      display: inline-block;
      text-shadow: 0 0 5px white, 0 0 5px red;
      font-size: 1.8rem;
    }
}


.x-mark {
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.x-mark:hover .right {
  transform: rotate(-45deg) scaleY(1.2);
}
.x-mark:hover .left {
  transform: rotate(45deg) scaleY(1.2);
}
.x-mark .container-mark {
  position: relative;
  width: 20px;
  height: 20px;
}
.x-mark .left, .x-mark .right {
  width: 2px;
  height: 20px;
  background: white;
  position: absolute;
  border-radius: 3px;
  transition: .15s ease-out;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.x-mark .right {
  transform: rotate(-45deg);
}
.x-mark .left {
  transform: rotate(45deg);
}



