//Carousel
//CARDS

//Carousel
.container { 
  position: relative;
  width: 35vh;
  height: 35vh;
  margin: 0 auto;
  perspective: 1000px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ( -100px );
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}

#carousel figure {
  position: absolute;
  display: flex;
  flex-direction:column;
  margin: 0 auto;
  width: $wCard;
  height: $hCard;
  min-width: $minWCard;
  min-height: $minHCard;
    header, article, footer {
      background: $CardColor;
      opacity: 0.9;
      overflow: hidden;
      flex: 1;
    }
    header {
      flex-grow: 2;
      border-radius: 0px 47% 0px 0px;
      padding-left: 3%;
      .uptitle {
        font-variant: small-caps;
        font-size: 0.8em;
        color: black;
        font-family: arial;
        text-transform: uppercase;
      }
      .title {
        color: $titleColor;
        font-family: georgia;
        text-transform: capitalize;
        font-size: 3rem;
      } 
    }
    article {
      position: relative;
      flex-grow: 10;
        .description {
          font: 1.3rem monospace, sans-serif;
          text-indent: 10px;
          text-align: left;
          line-height: 0.95;
          position: absolute;
          top: 50%;
          left: 50%;
          height: 94%;
          width: 94%;
          margin: -37% 0 0 -47%;
          border: 1px solid #000000;
          background-color: black;
          border-radius: 5px; 
        }
        .falsebttn {
          width: 90%;
          margin: 0 auto;
          text-align: center;
          position: absolute;
          bottom: 5%;
          border: solid black;
          padding: 5px;
          margin: 5px;
        }
    }
}

.card footer {
  position: relative;
  border-radius: 0px 0px 0px 47%;
}
.card footer div {
  position: absolute;
  text-align: right;
  width: 90%;
  height: 90%;
  padding-right:5%;
}
.card footer img {
  height: 90%;
  filter: grayscale(99%);
  transition: 0.3s;
  display: inline-block;
}
.card footer img:hover {
  filter: grayscale(20%);
  transition: 0.3s; 
}

// #carousel figure:nth-child(1) { background: $CardColor;}
// #carousel figure:nth-child(2) { background: $CardColor;}
// #carousel figure:nth-child(3) { background: $CardColor;}


#carousel figure:nth-child(1) {
  -webkit-transform: rotateY(   0deg ) translateZ(325px);
     -moz-transform: rotateY(   0deg ) translateZ(325px);
          transform: rotateY(   0deg ) translateZ(325px);
}
#carousel figure:nth-child(2) {
  -webkit-transform: rotateY(  40deg ) translateZ(325px);
     -moz-transform: rotateY(  40deg ) translateZ(325px);
          transform: rotateY(  40deg ) translateZ(325px);
}
#carousel figure:nth-child(3) {
  -webkit-transform: rotateY(  80deg ) translateZ(325px);
     -moz-transform: rotateY(  80deg ) translateZ(325px);
          transform: rotateY(  80deg ) translateZ(325px);
}
#carousel figure:nth-child(4) {
  -webkit-transform: rotateY(  120deg ) translateZ(325px);
     -moz-transform: rotateY(  120deg ) translateZ(325px);
          transform: rotateY(  120deg ) translateZ(325px);
}
#carousel figure:nth-child(5) {
  -webkit-transform: rotateY(  160deg ) translateZ(325px);
     -moz-transform: rotateY(  160deg ) translateZ(325px);
          transform: rotateY(  160deg ) translateZ(325px);
}
#carousel figure:nth-child(6) {
  -webkit-transform: rotateY(  200deg ) translateZ(325px);
     -moz-transform: rotateY(  200deg ) translateZ(325px);
          transform: rotateY(  200deg ) translateZ(325px);
}
#carousel figure:nth-child(7) {
  -webkit-transform: rotateY(  240deg ) translateZ(325px);
     -moz-transform: rotateY(  240deg ) translateZ(325px);
          transform: rotateY(  240deg ) translateZ(325px);
}
#carousel figure:nth-child(8) {
  -webkit-transform: rotateY(  280deg ) translateZ(325px);
     -moz-transform: rotateY(  280deg ) translateZ(325px);
          transform: rotateY(  280deg ) translateZ(325px);
}
#carousel figure:nth-child(9) {
  -webkit-transform: rotateY(  320deg ) translateZ(325px);
     -moz-transform: rotateY(  320deg ) translateZ(325px);
          transform: rotateY(  320deg ) translateZ(325px);
}




 


