$CoolGreen: #00FF00;



body {
  position: relative;
  margin: 0;
  overflow: hidden;
}

html {
  font-size: 16px;
}

h1 {
  font-family: 'Patua One', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 20px;
}

@media screen and (min-width: 860px) {
  h1 {
    font-size: 40px;
    line-height: 52px;
  }
}

h2 {

}

a {
    text-decoration: none;
    color: $CoolGreen;
}

.hidde {
  display: none;
}

.fancy-text {
  font-family: "adobe-garamond-pro",sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 17px;
}
