//Modal
// <div.sky-container opacity:0 pos:absolute 
//   <div#modal.modalmask pos:fixed
//     <div.modalbox .resize pos:relative 
//       <div #modalM
//            <a #close.close pos:absolute

.modalmask {
    position: fixed;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow-y: scroll;      
}

.modalmask:target{
        opacity: 1;
        pointer-events: auto;
}

.modalbox{
    margin: 0 auto;
    width: 75%;
    position: relative; 
    max-width: 900px; 
    border: solid black;
    padding: 3px;
    background: $CardColor;
//  border-radius:3px;
//    transition: all 500ms ease-in;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    footer {
        text-align: center;
    }
}

@media screen and (max-device-width : 600px) {
    .modalbox {
        width: 100%;
    }
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

.strokeM {
    color: white;
    font-family: georgia;
    text-transform: capitalize;
    font-size: 5rem;
    text-align: center;
}

.descriptionM {
    border-radius: 5px;
    font: 16px monospace, sans-serif;
    clear: left;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.25;
    background-color: black;
    overflow: hidden;
    color: #00FF00;
    padding: 5px;
}

.labelM {
    border-radius: 5px;
    font: 17px monospace, sans-serif;
    text-indent: 20px;
    line-height: 1.25;
    background-color: black;
    color: #00FF00;
    padding: 5px;
    width: 70%;
    display: inline;
    float: left;
    margin: 0px 0px 15px 0px;
}

.rowM {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}





#specialMessage {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 15px;
    display: none;
    position: fixed;
    z-index: 99999;
}

// @media screen and (max-device-width : 600px) {
//     #specialMessage {
//         display: block;
//     }
// }