@import "variables","reset","carousel","modal","buttons","default","carousel";

.intro-container {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: $fontColor;
  text-align: center;
}

.intro-left {
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  color: $fontColor;
  .name {
    font-size: 54px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
  .typedDaddy {
    text-align: right;
    font-size: 24px;
    line-height: 1.14815;
    font-weight: 400;
    letter-spacing: .008em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
  }
}

.sky-container {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 22%;
  color: $CoolGreen;
  opacity: 0;
}

/* .sky-container__left, .sky-container__right {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.sky-container__left h2, .sky-container__right h2 {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 26px;
  line-height: 26px;
  margin: 0;
}

@media screen and (min-width: 860px) {
  .sky-container__left h2, .sky-container__right h2 {
    font-size: 72px;
    line-height: 68px;
  }
}

.sky-container__left {
  margin-right: 5px;
}

.sky-container .thirty-one {
  letter-spacing: 4px;
} */

