$fontColor: white;

$bttnIntroWidth: 20vw;
$bttnIntroHeight: 20vh;
$bttnFalseWidth: 70px;
$bttnFalseHeight: 30px;

//Card
$titleColor: white;
$CardColor: #416EC0;
$CoolGreen: #00FF00;


$wCard: 35vh;
$hCard: 35vh;
$minWCard: 222px;
$minHCard: 222px;

//Modal
