$fontColor: white;

$bttnIntroWidth: 20vw;
$bttnIntroHeight: 20vh;
$bttnFalseWidth: 70px;
$bttnFalseHeight: 30px;

//Card
$titleColor: white;
$CardColor: hsla(240, 76%, 40%, 0.9);
$CoolGreen: #00FF00;
